body { behavior:url("../css/csshover.htc"); }

.wrap {
height:100%;
width:expression(document.body.clientWidth < 1000? "1000px" : "auto");
}

.footer { width:expression(document.body.clientWidth < 1000? "1000px" : "auto"); }

.blockContent img { width:expression(this.width > 200 ? 200: true); }

.catalogPic li img { width:expression(this.width > 206 ? 206: true); }

.vitrina .frame img {
width:expression(this.width > 150 ? 150: true);
height:expression(this.height > 150 ? 150: true);
}

.error { height:12px; }