body { behavior:url("../css/csshover.htc"); }

.wrap {
height:100%;
}

.headBanner img {
width:expression(this.width > 690 ? 690: true);
height:expression(this.height > 68 ? 68: true);
}

.mainLeftCol img {
width:expression(this.width > 754 ? 754: true);
}

.leftTopBox .banner img {
width:expression(this.width > 380 ? 380: true);
}

.mainRightCol img {
width:expression(this.width > 200 ? 200: true);
}

.leftCol .banner img {
width:expression(this.width > 254 ? 254: true);
}

.objGallery td img {
width:expression(this.width > 50? 50: true);
}

.blockSearch .starDescription {
height:102px;
}

.bigButton {
margin-right:5px;
}

.shadowBox .cn {
background:none;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/shadow.png', sizingMethod = 'crop' );
}

.shadowBox .tl, .shadowBox .tr {
padding-right:42px;
}

.greenBlock .tl, .greenBlock .tr {
padding-right:38px;
}


/*img {
width:expression(this.width > 138 ? 138: true);
height:expression(this.height > 114 ? 114: true);
}*/