{literal}<script type="text/javascript">
<!--
function SaveSubmit() {
	document.forms.editform.elements.apply.value = 0;
	document.forms.editform.submit();
	window.close();
}
function ApplySubmit() {
	document.forms.editform.elements.apply.value = 1;
	document.forms.editform.submit();
}


var num = 1;
var otkat;
var oldnum;
var form_id = '{/literal}{$object.form_id}{literal}';

window.onload = function(){
	document.body.style.backgroundColor = "#E5E5E5";
	if (form_id){
		OpenForEdit();
	} else {
		AddElement(0);
	}
	this.otkat = document.getElementById('elements').innerHTML;
	this.oldnum = this.num;	
}

function Undo(){ 
	document.getElementById('elements').innerHTML = this.otkat;	
	this.num = this.oldnum;
}

function AddElement(prn){
	
	this.otkat = document.getElementById('elements').innerHTML;
	this.oldnum = this.num;
	
	//prn - порядковый номер его и за которым мы следуем.
	if (prn == this.num-1){ //вставляем в конец
		var pageStart = document.getElementById('elements').innerHTML;
		var pageEnd = '';
    	var table = createTable(this.num);
    	
	} else if(prn < this.num-1){ // вставляем между
		//сначала вырезаем все до места вставки
		var pageStart = '';
		for ( i=1; i<=prn ;i++){
			pageStart += document.getElementById('table_'+i).outerHTML; 
		}
		
		//теперь вырезаем все после места вставки
		var pageEnd = '';
		for ( i=this.num-1; i>=prn+1 ;i--){
			//производим переномерацию всех таблиц и их элемов (увеличиваем на 1) с последней таблицы
			ni = i+1;
			reNum(i, 1);
			pageEnd = document.getElementById('table_'+ni).outerHTML + pageEnd; 
		}
		
		//создаем таблицу
		var table = createTable(prn+1);
	}
	
	var page = pageStart+table.outerHTML+pageEnd;
	document.getElementById('elements').innerHTML = page;
	this.num++;
	return true;
}

function DelElement(prn){
		
		if (prn == '1' & this.num==2){
			alert('Нельзя удалить единственную строку.');
			return true;
		}
		
		this.otkat = document.getElementById('elements').innerHTML;
		this.oldnum = this.num;
		
		document.getElementById('table_'+prn).outerHTML = '';
		
		var pageStart = '';
		for ( i=1; i<prn ;i++){
			pageStart += document.getElementById('table_'+i).outerHTML; 
		}

		//теперь вырезаем все после места вставки
		var pageEnd = '';
		for ( i=prn+1; i<this.num ;i++){
			//производим переномерацию всех таблиц и их элемов (увеличиваем на 1) с начала
			ni = i-1;
			reNum(i, -1);
			pageEnd =  pageEnd + document.getElementById('table_'+ni).outerHTML; 
		}	
		
		var page = pageStart+pageEnd;
	
		document.getElementById('elements').innerHTML = page;
		this.num--;	
		return true;	
}

function reNum(nnum, where){
	ni = nnum+where;

	document.getElementById('table_'+nnum).id = 'table_'+ni+'';
	document.getElementById('table_'+ni).ID = 'table_'+ni+'';
	
	document.getElementById('tr1_'+nnum).id = 'tr1_'+ni+'';
	document.getElementById('tr2_'+nnum).id = 'tr2_'+ni+'';
	document.getElementById('div_'+nnum).id = 'div_'+ni+'';
	
	document.getElementById('text_'+nnum).id = 'text_'+ni+'';
	document.getElementById('text_'+ni).ID = 'text_'+ni+'';

	document.getElementById('db_field_'+nnum).id = 'db_field_'+ni+'';
	document.getElementById('db_field_'+ni).ID = 'db_field_'+ni+'';

	document.getElementById('select_'+nnum).id = 'select_'+ni+'';
	document.getElementById('select_'+ni).ID = 'select_'+ni+'';
	document.getElementById('select_'+ni).onchange = 'ChangeVisible('+ ni +', this)';

	document.getElementById('textarea_'+nnum).id = 'textarea_'+ni+'';
	document.getElementById('textarea_'+ni).ID = 'textarea_'+ni+'';
	
	document.getElementById('buttonadd_'+nnum).id = 'buttonadd_'+ni+'';
	document.getElementById('buttonadd_'+ni).onclick = 'AddElement('+ni+')';

	document.getElementById('buttondel_'+nnum).id = 'buttondel_'+ni+'';
	document.getElementById('buttondel_'+ni).onclick = 'DelElement('+ni+')';

	return true;
}

function createTable(num){

   	var table = document.createElement('<TABLE CELLPADDING ="0" CELLSPACING="0" BGCOLOR="#E5E5E5" >');
    table.ID='table_'+ num +'';

    if (num == 1) {
		var tr0 = document.createElement('<TR>');
		var td01 = document.createElement('<TD align="center">');
	    td01.innerHTML = "Название";
		tr0.appendChild(td01);    
		var td02 = document.createElement('<TD align="center">');
	    td02.innerHTML = "Тип поля";
		tr0.appendChild(td02);    
		var td03 = document.createElement('<TD align="center">');
	    td03.innerHTML = "Поле в таблице";
		tr0.appendChild(td03);    
		var td04 = document.createElement('<TD align="center">');
	    td04.innerHTML = "Проверка";
		tr0.appendChild(td04);    
		var td05 = document.createElement('<TD align="center">');
	    td05.innerHTML = "*";
		tr0.appendChild(td05);    
		var td06 = document.createElement('<TD align="center">');
	    td06.innerHTML = "+";
		tr0.appendChild(td06);    
		var td07 = document.createElement('<TD align="center">');
		tr0.appendChild(td07);
	}
	
    var tr1 = document.createElement('<TR>');
    var tr2 = document.createElement('<TR>');
    tr1.ID='tr1_'+ num +'';
    tr2.ID='tr2_'+ num +'';
    
    var td1 = document.createElement('<TD>');
    var td2 = document.createElement('<TD>');
    var td3 = document.createElement('<TD>');
    var td4 = document.createElement('<TD>');
    var td5 = document.createElement('<TD>');
    var td6 = document.createElement('<TD>');
    var td7 = document.createElement('<TD>');
    var td8 = document.createElement('<TD colspan="3">');
    
    var input = document.createElement('<INPUT TYPE="text" SIZE="30">');
    input.id='text_'+ num +'';
    input.ID='text_'+ num +'';
    //input.NAME='text_'+ num +'';
    input.NAME='fld[text][]';
    
    var input2 = document.createElement('<INPUT TYPE="text" SIZE="12">');
    input2.id='db_field_'+ num +'';
    input2.ID='db_field_'+ num +'';
    input2.NAME='fld[db_field][]';

    var select = document.createElement('<SELECT onChange="ChangeVisible('+ num +', this)">');
    select.id='select_'+ num +'';
    select.ID='select_'+ num +'';
    //select.NAME='select_'+ num +'';
    select.NAME='fld[select][]';
        
    {/literal}
	
    {foreach from=$types key=key item=item}
    var option = document.createElement('<OPTION>');
    option.VALUE="{$key}";
    option.innerText="{$item}";
    select.appendChild(option);
    {/foreach}
        
    var select2 = document.createElement('<SELECT>');
    select2.id='select2_'+ num +'';
    select2.ID='select2_'+ num +'';
    select2.NAME='fld[check][]';

    {foreach from=$check key=key item=item}
    var option = document.createElement('<OPTION>');
    option.VALUE="{$key}";
    option.innerText="{$item}";
    select2.appendChild(option);
    {/foreach}

    var select3 = document.createElement('<SELECT>');
    select3.id='select3_'+ num +'';
    select3.ID='select3_'+ num +'';
    select3.NAME='fld[req][]';

    {foreach from=$req key=key item=item}
    var option = document.createElement('<OPTION>');
    option.VALUE="{$key}";
    option.innerText="{$item}";
    select3.appendChild(option);
    {/foreach}

    var select4 = document.createElement('<SELECT>');
    select4.id='select4_'+ num +'';
    select4.ID='select4_'+ num +'';
    select4.NAME='fld[show][]';

    {foreach from=$show key=key item=item}
    var option = document.createElement('<OPTION>');
    option.VALUE="{$key}";
    option.innerText="{$item}";
    select4.appendChild(option);
    {/foreach}

    {literal}
    var div = document.createElement('<DIV style="display:none">');
    div.id='div_'+ num +'';

    var textarea = document.createElement('<TEXTAREA COLS="36" ROWS="2">');
    textarea.id='textarea_'+ num +'';
    textarea.ID='textarea_'+ num +'';
    //textarea.NAME='textarea_'+ num +'';  
    textarea.NAME='fld[textarea][]';  
    var buttonadd = document.createElement('<INPUT TYPE="button" VALUE="&nbsp;+&nbsp;" ONCLICK="AddElement('+num+');">');
    buttonadd.id='buttonadd_'+ num +'';
    var buttondel = document.createElement('<INPUT TYPE="button" VALUE="&nbsp;-&nbsp;" ONCLICK="DelElement('+num+');">');
    buttondel.id='buttondel_'+ num +'';
    
    td1.appendChild(input);
	tr1.appendChild(td1);    

    td2.appendChild(select);
	tr1.appendChild(td2);    

    td3.appendChild(input2);
	tr1.appendChild(td3);    

    td4.appendChild(select2);
	tr1.appendChild(td4);    

    td5.appendChild(select3);
	tr1.appendChild(td5);
    
    td6.appendChild(select4);
	tr1.appendChild(td6);

    td7.appendChild(buttonadd);
    td7.appendChild(buttondel);
	tr1.appendChild(td7);    

    div.appendChild(textarea);
    td8.appendChild(div);
	tr2.appendChild(td8);    

    if (num == 1) table.appendChild(tr0);    
    table.appendChild(tr1);    
	table.appendChild(tr2);
	return table;
}

function ChangeVisible(num, object){
	if (object.value == 'radio' || object.value == 'select' || object.value == 'checkbox'){
		document.getElementById('div_'+num).style.display = 'block';
	} else {
		document.getElementById('div_'+num).style.display = 'none';
	}
	return true;
}

function OpenForEdit(){
	{/literal}
	{foreach from=$object.elems key=key item=v}
 		AddElement({$key});
		{assign var=num value=$key+1}
		document.getElementById('text_'+{$num}).value = '{$v.text}';
		document.getElementById('db_field_'+{$num}).value = '{$v.db_field}';
		document.getElementById('select_'+{$num}).value = '{$v.type}';
		document.getElementById('select2_'+{$num}).value = '{$v.check}';
		document.getElementById('select3_'+{$num}).value = '{$v.req}';
		document.getElementById('select4_'+{$num}).value = '{$v.show}';
		ChangeVisible({$num}, document.getElementById('select_'+{$num}));
		
		document.getElementById('textarea_'+{$num}).innerText = "{$v.value}";
	{/foreach}
	{literal}
}

function set_checkbox(name) {
	val = document.forms.editform.elements['fld[' + name + ']'].value;
	box = document.forms.editform.elements[name];
	if (val) {
		box.checked = true;
		return;
	}
	box.checked = false;
}

function getPages(form) {
	ret = window.showModalDialog('dialog.php?page=tree/treecheck', form.elements['fld[pages]'].value, 'dialogWidth:350px; dialogHeight:430px;');
	
	setTimeout('set_checkbox(\'pages\')', 200);
	if (!ret) {
		return;
	}
	if (ret == 'nothing') {
		form.elements['fld[pages]'].value = '';
		return;
	}
	form.elements['fld[pages]'].value = ret;
}

function getExcept(form) {
	ret = window.showModalDialog('dialog.php?page=tree/treecheck', form.elements['fld[except]'].value, 'dialogWidth:350px; dialogHeight:430px;');
	setTimeout('set_checkbox(\'except\')', 200);
	if (!ret) {
		return;
	}
	if (ret == 'nothing') {
		form.elements['fld[except]'].value = '';
		return;
	}
	form.elements['fld[except]'].value = ret;
}
-->
</script>{/literal}
<input type="hidden" name="fld[form_id]" value="{$object.form_id}" />
<div align="right"><INPUT TYPE="button" VALUE="&nbsp;Отменить&nbsp;" ONCLICK="Undo();"></div><br>
<table cellpadding="0" cellspacing="0" bgcolor="#E5E5E5" align="center" width="100%">
<tr>
	<td align="left">{$STR_NAME}:</td>
	<td><input type="text" name="fld[name]" value="{$object.name}" size="50"></td>
</tr>
<tr>
	<td align="left">{$STR_DB_TABLE}:</td>
	<td><input type="text" name="fld[db_table]" value="{$object.db_table}" size="50"></td>
</tr>
<tr>
	<td align="left">{$STR_EMAIL}:</td>
	<td><textarea name="fld[email]" cols="40">{$object.email}</textarea></td>
</tr>
<tr>
	<td valign="top">{$STR_VISIBLE}:</td>
	<td><input type="checkbox" name="fld[visible]" value="1" {if $object.visible}checked{/if} /></td>
</tr>
</table>
<br>
<table cellpadding="0" cellspacing="0" bgcolor="#E5E5E5" align="center" width="100%">
<tr>
	<td>
	<fieldset>
	<span id="elements"></span>
	<div>* - обязательное поле или нет</div>
	<div>+ - публиковать на странице или нет</div>
	</fieldset>
	</td>
</tr>
</table>
