<!DOCTYPE HTML>
<html>
<head>
<title><?php echo $this->title;?></title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
<link rel="stylesheet" type="text/css" href="css/style.css">
<!--[if lte IE 6]>
<link href="css/style_ie6.css" rel="stylesheet" type="text/css">
<![endif]-->
</head>

<body class="dialog" bgcolor="#E5E5E5">

<iframe src="dialog.php?<?php echo $this->query_string;?>" width="100%" height="100%" border="0" frameborder="0" scrolling="no" noscroll="noscroll"></iframe>

</body>
</html>