{$script}
<script>
var thisname = '{$thisname}';
var TABLE = '{$thisname}';
var ID = '{$id}';

function editItem(id) {ldelim}
	if (id == null) id = ID;
	window.open("ced.php?page={$thisname}&client_id={$client_id}&do=editform&id="+id, "editnote", "width=600, height=500, resizable=1, status=1").focus()
{rdelim}

var A{$thisname}0 = new Array(0,1,0,0,0,0,0,0,1);
var A{$thisname}1 = new Array(0,1,1,1,0,0,0,0,1);
var A{$thisname}2 = new Array(0,1,0,0,0,0,0,0,1);

window.parent.elemActions('{$thisname}', 0);
</script>
<script language="JavaScript" src="tooltip/tooltip.js"></script>
{$table}

<IFRAME id=tmp{$thisname} name=tmp{$thisname} src='about:blank' width=0 height=0 border=0 style='visibility:hidden'></IFRAME>