<!-- ahtung! надо раскоментировать строки по выбору даты..  -->

<script>
function MySubmit() {ldelim}
	document.forms.editform.submit();
{rdelim}
</script>

<form method=post target=tmp{$thisname}{$id} name=editform onsubmit='MySubmit()' action='page.php'>
<input type=hidden name=fld[client_id] value='{$client_id}'>

<table width=100% border=0 align=center height="100%"><tr>
	<td>{$STR_DATE}:</td>
	<td>
		<input type="text" name="fld[date]" value="{$date}" size="16" maxlength="16">
<!--		<a href="javascript:void(0)" onclick="if(self.gfPop) gfPop.fPopCalendar(document.forms.editform.elements['fld[date]']); return false;" hidefocus><img name="popcal" align="absmiddle" src="calendar/images/calbtn.gif" width="34" height="22" border="0" alt="{$STR_SELECT_DATE}"></a> -->
	</td>
</tr><tr>
	<td>{$STR_NOTIFY_DATE}:</td>
	<td>
		<input type="text" name="fld[notify_date]" value="{$notify_date}" size="16" maxlength="16">
<!--		<a href="javascript:void(0)" onclick="if(self.gfPop) gfPop.fPopCalendar(document.forms.editform.elements['fld[notify_date]']); return false;" hidefocus><img name="popcal" align="absmiddle" src="calendar/images/calbtn.gif" width="34" height="22" border="0" alt="{$STR_SELECT_DATE}"></a> -->
	</td>
</tr><tr>
	<td>{$STR_SUBJECT}:</td>
	<td><input type=text size=40 maxlength=100 name="fld[name]" value="{$name}"></td>
</tr><tr>
	<td>{$STR_LINK}:</td>
	<td><input type=text size=40 maxlength=255 name="fld[link]" value="{$link}"></td>
</tr><tr>
	<td valign="top" colspan=2>{$STR_FULLTEXT}:</td>
</tr><tr height="100%">
	<td valign="top" colspan=2>{$text}</td>
</tr></table>
<input type=hidden name=page value='{$thisname}'>
<input type=hidden name=do value='edit'>
<input type=hidden name=id value='{$id}'>
<input type=hidden name=visible value = '1'>
<input type=image src="images/s.gif">

</form>

<!-- <iframe width=188 height=166 name="gToday:datetime:agenda.js:gfPop:plugins_24.js" id="gToday:datetime:agenda.js:gfPop:plugins_24.js" src="calendar/ipopeng.htm" scrolling="no" frameborder="0" style="visibility:visible; z-index:999; position:absolute; left:-500px; top:0px;"></iframe> -->

<IFRAME id=tmp{$thisname}{$id} name=tmp{$thisname}{$id} src='about:blank' width=0 height=0 border=0 style='visibility:hidden'></IFRAME>