<script>
var ID = 0;
function editItem(id) {ldelim}
	if (id == null) id = ID;
	window.showModalDialog("dialog.php?page={$thisname}&do=editform&id="+id, "", "dialogWidth: 500px; dialogHeight: 320px");
{rdelim}
function showDetails(id) {ldelim}
	if (id == null) id = ID;
	window.open("ced.php?page={$thisname}&do=showdetails&id="+id, "{$thisname}details{$id}", "width=800, height=600, resizable=1, status=1").focus();
{rdelim}
cl = window.parent.opener ? 1 : 0;
var A{$thisname}0 = new Array(0,0,1,0,cl);
var A{$thisname}1 = new Array(1,1,1,1,cl);
var A{$thisname}2 = new Array(0,0,1,1,cl);
window.parent.elemActions('{$thisname}', 0);
</script>
{$table}
<IFRAME id=tmp{$thisname} name=tmp{$thisname} src='about:blank' width=0 height=0 border=0 style='visibility:hidden'></IFRAME>