<script for="document" event="onkeydown">
	if (event.keyCode==27) window.close();
</script>

<fieldset>
<div style="height:300px;overflow-y:auto;">
{$table}
</div>
</fieldset>
<br />
<div style="text-align:center;">
	<input type="button" value="{$STR_CLOSE}" onClick="window.close()" />
</div>
