<script type="text/javascript">
var ID = 0;
var thisname = '{$thisname}';

{literal}
function mySubmit(item) {
	item.subm.disabled = true;
	return true;
}
function editItem(id) {
	if (id == null) id = ID;
	window.open("ced.php?page=" + thisname + "&do=editform&id="+id, "edit" + thisname, "width=450, height=220, resizable=1, status=1").focus();
}
function Refresh() {
    window.frames['tmp'+thisname].location = "cnt.php?page=" + thisname + "&do=editRefresh";
}
{/literal}

var A{$thisname}0 = new Array(0,1,0);
var A{$thisname}1 = new Array(1,1,1);
var A{$thisname}2 = new Array(0,1,1);
window.parent.elemActions(thisname, 0);

</script>

{$table}

<iframe id="tmp{$thisname}" name="tmp{$thisname}" src="about:blank" width="0" height="0" border="0" style="visibility:hidden"></iframe>