{* smarty template *}
<script>
var Acrm0 = new Array(0,0,0,0,0,0,0,0,1);
window.parent.elemActions("crm", 0);
</script>
<table width=100%>
<tr><td valign=top>


<fieldset><legend>{$STR_CLIENT_INFO}</legend>
<table width=100%>
<table cellpadding=0 cellspacing=0 width=100%>
{if $fio}<tr><td class="mbox">{$STR_LNAME}:</td><td class="mbox" align=right><b>{$fio}</td></tr>{/if}
{if $addr}<tr><td class="mbox">{$STR_ADDR}:</td><td class="mbox" align=right><b>{$addr}</td></tr>{/if}
{if $phone}<tr><td class="mbox">{$STR_PHONE}:</td><td class="mbox" align=right><b>{$phone}</td></tr>{/if}
{if $comp_name}<tr><td class="mbox">{$STR_COMP_NAME}:</td><td class="mbox" align=right><b>{$comp_name}</td></tr>{/if}
<tr><td class="mbox">{$STR_BALANCE}:</td><td class="mbox" align=right {$balance_style}><b>{$balance} руб.</td></tr>
</table>
</fieldset>
</td>
<td valign="top">
<fieldset><legend>{$STR_SYSTEM_INFO}</legend>
<table width=100%>
<table cellpadding=0 cellspacing=0 width=100%>
{if $id}<tr><td class="mbox">{$STR_CLIENT_ID}:</td><td class="mbox" align=right><b>{$id}</td></tr>{/if}
{if $login}<tr><td class="mbox">{$STR_LOGIN}:</td><td class="mbox" align=right><b>{$login}</td></tr>{/if}
<!--<tr><td class="mbox">{$STR_GROUP}:</td><td class="mbox" align=right><b>{$group}</td></tr>-->
<tr><td class="mbox">{$STR_TRUSTED}:</td><td class="mbox" align=right><b>{$trusted}</td></tr>
<tr><td class="mbox">{$STR_FREE}:</td><td class="mbox" align=right><b>{$free}</td></tr>
<tr><td class="mbox">{$STR_AUTH}:</td><td class="mbox" align=right><b>{$auth}</td></tr>
</table>
</fieldset>

</tr></table>