{$script}
<script>
var thisname = '{$thisname}';
var TABLE = '{$thisname}';
var ID = '{$id}';

var A{$thisname}0 = new Array({if $root}1{else}0{/if},0,0,0,0,0,0,0,0);
var A{$thisname}1 = new Array({if $root}1{else}0{/if},0,0,0,0,0,0,0,0);
var A{$thisname}2 = new Array({if $root}1{else}0{/if},0,0,0,0,0,0,0,0);

function ClearItems(){ldelim}
	window.frames['tmplog_access'].location = '/admin/cnt.php?page=log_access&do=clear';
{rdelim}

window.parent.elemActions('{$thisname}', 0);
</script>
<script language="JavaScript" src="tooltip/tooltip.js"></script>
{$table}

<IFRAME id=tmp{$thisname} name=tmp{$thisname} src='about:blank' width=0 height=0 border=0 style='visibility:hidden'></IFRAME>