<script type="text/javascript">
var A{$thisname}0 = new Array(1);
var A{$thisname}1 = new Array(1);
var A{$thisname}2 = new Array(1);
window.parent.elemActions('{$thisname}', 0);
</script>

<br /><br />
<form name="restoreform">
<div align="center">
	<input type="button" name="subm" value="{$STR_RESTORE}" onclick="this.disabled=true;window.open('act.php?{$src}', 'act')" />
</div>
</form>