<?php if($this->list) : ?>
    <table width="100%">
        <tr>
        <?php foreach($this->list as $num => $block) : ?>
            <td style="text-align: center;">
                <?php if ($block['title']): ?>
                <p class="name">
                    <?php if ($block['title_link']):?><a href="<?=$block['title_link']?>"><?php endif; ?>
                    <?=$block['title'];?>
                    <?php if ($block['title_link']):?></a><?php endif; ?>
                </p><?php endif; ?>
                <?=$block['header_text'];?>
                <?php if(isset($block['publications']) && $block['publications']): ?>
                <ul class="publ">
                    <?php foreach($block['publications'] as $num => $publication) : 
                    /**
                    * @var Publication $publication
                    */
                    $path = $publication->getMainPath();
                    ?>
                    <li>
                        <?php $date = $publication->getDate(); if ($date && $date != '0000-00-00 00:00:00'): ?>
                        <?=date("d.m.Y", strtotime($date)); ?>
                        <?php endif; ?>
                        <p class="name"><a href="<?=$path?>"><?=$publication->getName();?></a></p>
                        <?php $image = $publication->getImage(array('200', '150'), 'adaptiveResize'); if ($image) : ?>
                        <a href="<?=$path?>">
                            <img src="<?=$image;?>" alt="<?=$publication->getName();?>"/>
                        </a>
                        <?php endif; ?>
                    </li>
                    <?php endforeach; ?>
                </ul>
                <?php endif; ?>
                <?=$block['footer_text']; ?>
                <?php if ($block['footer_title']): ?>
                   <?php if ($block['footer_title_link']):?><a href="<?=$block['footer_title_link']?>"><?php endif; ?>
                   <?=$block['footer_title'];?>
                   <?php if ($block['footer_title_link']):?></a><?php endif; ?>
                <?php endif; ?>
            </td>
        <?php endforeach; ?>
        </tr>
    </table>
<?php endif; ?>