<script>
var ID = 0;
var thisname = '{$thisname}';
{literal}
function editItem(id) {
	if (id == null) id = ID;
	window.open("ed.php?page=" + thisname + "&id=" + id, "edit" + thisname, "width=750, height=520, resizable=1").focus();
}
function PrintSelected() {
	window.open("page.php?page=" + thisname + "&do=showprintForm", "print" + thisname, "width=750, height=520, resizable=1, scrollbars=1, menubar=1").focus();
}
function showRecycle() {
	{/literal}
	window.showModalDialog("dialog.php?page={$thisname}&do=showrecycle", "", "dialogWidth:400px; dialogHeight:400px;");
	{literal}
}
{/literal}
var A{$thisname}0 = new Array(1,0,0,1);
var A{$thisname}1 = new Array(1,1,1,1);
var A{$thisname}2 = new Array(1,0,1,1);
window.parent.elemActions(thisname, 0);
</script>
{$table}
<iframe id="tmp{$thisname}" name="tmp{$thisname}" src="about:blank" width="0" height="0" border="0" style="visibility:hidden"></iframe>