<script src="third/tooltip/tooltip.js" type="text/javascript"></script>
<script src="js/tree.js" type="text/javascript"></script>

<script for="document" event="onclick" type="text/javascript">
	itemsDeact();
</script>

<div id="loading" class="hide"><?php echo $this->loading;?></div>

<script type="text/javascript">
$(document).ready(function(){
    $('#hide_hidden_elements').click(function(){
        if ($(this).attr('checked')) {
            location.href = '/admin/?page=tree<?php echo($this->id ? "&id=".$this->id : "");?>&hidden=0';
        } else {
            location.href = '/admin/?page=tree<?php echo($this->id ? "&id=".$this->id : "");?>';
        }
    });
});
</script>
<div class="checkBox hiddenTreeItem">
    <input class="check" type='checkbox' id='hide_hidden_elements' <?php echo(!$this->hidden ? "checked" : "");?> >
    <label for='hide_hidden_elements' class="check">Не отображать скрытые разделы</label>
</div>

<div class="way"><?php echo $this->path;?></div><div class="clear"></div>
<?php echo $this->trees;?>