<script for="editform" event="onkeydown" type="text/javascript">
	if (event.keyCode==27) window.close();
</script>
<form name="editform" id="editform">
<fieldset><div align="center">{$STR_NOCREATE}</div></fieldset>
<br>
<div align="center"><input class="btn" type="button" value="{$STR_CLOSE}" onclick="window.close()" /></div>
</form>