<script>
var ID = 0;
function editItem(id) {ldelim}
	if (id == null) id = ID;
	window.showModalDialog("dialog.php?page={$thisname}&do=editdetailform&kb_id={$id}&id="+id, "", "dialogWidth: 800px; dialogHeight: 600px");
{rdelim}
var A{$thisname}0 = new Array(1,0,0,1);
var A{$thisname}1 = new Array(1,1,1,1);
var A{$thisname}2 = new Array(1,0,1,1);
window.parent.elemActions('{$thisname}', 0);

function deleteDetails(thisname, formname) {ldelim}
	formname = formname || 'editform';
	if (window.showModalDialog("dialog.php?page="+thisname+"&do=showconfirm", "", "dialogWidth:320px; dialogHeight:180px;")) {ldelim}
		document.forms[formname].actions.value = 'deletedetails';
		document.forms[formname].submit();
	{rdelim}
{rdelim}
function editSummary() {ldelim}
	window.showModalDialog("dialog.php?page={$thisname}&do=editform&id={$id}&target={$thisname}details{$id}", "", "dialogWidth: 500px; dialogHeight: 320px");
{rdelim}
</script>

<h4>{$description}</h4>

{$table}
<IFRAME id=tmp{$thisname}details{$id} name=tmp{$thisname}details{$id} src='about:blank' width=0 height=0 border=0 style='visibility:hidden'></IFRAME>