<script for={$thisname} event=onkeydown>
if (event.keyCode==27) window.close();
</script>
<script>
var prod_id=0;
function selectComponent() {ldelim}

	window.open("ced.php?page={$thisname}&do=showcomponentselector&prod_id="+prod_id, "showcomponentselector", "width=640, height=530, resizable=1, status=1").focus();

{rdelim}
</script>

<form method=post target=tmp{$target} name=editform onsubmit='window.close();' action='page.php'>
<input type=hidden name=page value='support_kb'>
<input type=hidden name=do value='edit'>
<input type=hidden name=id value='{$id}'>

<fieldset>
<legend>{$STR_EDIT}</legend>

<table width=100% align=center><tr>
	<td>{$STR_CATEGORY}:</td>
	<td><select name=fld[category_id]><option value='NULL'></option>{$categories}</select></td>
<tr><td>{$STR_GROUP}:</td><td>
<select name="fld[group_id]" onChange="prod_id=this.value;document.forms.editform.component.value=''"><option value='NULL' selected>---все---</option>{$product_types}</select>
</td></tr>

<tr><td>{$STR_PART}:</td><td><input DISABLED size=45 type=text name='component' value='{$parts.name}'><input type=hidden name=fld[product_id] value='{$parts.id}'><input id=components type=button value=' ... ' onclick='selectComponent()'></td></tr>
<tr>
	<td valign="top">{$STR_DESCRIPTION}:</td>
	<td><textarea cols=40 rows=4 name=fld[description]>{$description}</textarea></td>
</tr></table>

</fieldset>
<br>

<div align=center>
<input type=submit class=btn value='{$STR_SAVE}'>
<input type=button value='{$STR_CANCEL}' onClick="window.close()">
</div></form>